body {
	border: 8px solid #4d0099;
	padding: 20px;
	max-width: 700px;
	width: 80%;
	margin: 20px auto;

}

p:nth-of-type(1) {
	border-left: 4px solid #4d0099;
}

p {
	padding-left: 5%;
	font-family: 'Muli', sans-serif;
}

h2 {
	margin-left: 5%;
	font-family: 'Kavivanar', cursive;
	font-size: 2.0rem;
}

h4 {
	margin-left: 5%;
	font-family: 'Kavivanar', cursive;
	color: #66004d;
	letter-spacing: 2px;
	text-transform: uppercase;
}

hr {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

